footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222222;
    height: 360px;
    width: 100%;
    margin-top: -70px;
}

#contentWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 38%;
}

#wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

#header {
    position: relative;
}

footer img, footer #header {
}
footer img {
    margin-right: 15px;
    width: 80px;
    height: 80px;
}


#header h1 {
    margin: 0 0 22px 0;
    text-transform: uppercase;
    color: #c4c4c4;
}
#header span {
    position: absolute;
    top: 35px;
    color: #a5a5a5;
}

#contantWrapper p {
    flex: 1;
    margin-left: 22px;
}
#rights {
    color: #e4e4e4;
}
#owner {
    color: #d87843;
}
