body {
  /* width: 100%;
  background: darkolivegreen;
  margin: 0;
  padding: 0; */
}
.App {
  width: 100%;
  background: rgb(196, 255, 138);
  margin: 0;
  padding: 0;
}
/* @font-face {
  font-family: Amble;
  src: url(fonts/Amble-Regular.ttf);
}
@font-face {
  font-family: 'Big John';
  src: url(fonts/BIG_JOHN.otf);
} */